<?xml version="1.0"?>
<model>
  <name>Octo Coaxial TLab</name>
  <version>1.0</version>
  <sdf version='1.4'>octo_cox_tlab.sdf</sdf>

  <author>
   <name>Ruochen</name>
   <email>ruochen@lirc572.com</email>
  </author>

  <description>
    This is a model of an Octo Coaxial Quadrotor used at TLab.
  </description>
</model>
